*{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

.header{
    background-color: #BE9D9D;
    color: #FED8D9;
    padding: 20px;
}

.liContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.liContainer li{
    list-style: none;
    margin: 0 10px;
}

.liContainer li a{
    text-decoration: none;
    color: #FED8D9;
}

nav{
    height: 100%;
}

main {
    margin: 10px;
}

.Categorias {
    margin-bottom: 40px;
    margin-top: 40px;
}

.Categorias h2 {
    color: #0B0A0A;
    text-align: center;
    margin-top: 100px;
}

footer {
    background-color: #0B0A0A;
    color: #fff;
    padding: 5px;
    height: 100%;
    text-align: center;
    margin-top: 40px;
}

.logoContainer {
height: 70px;
width: auto;
}   

.logoHeader {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgDestac {
    text-align: center;
}

.imgDestac img {
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 10px; 
}

.prodCatego {
    height: 500px;
    width: 250px;
}

.imgCatego {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}

.categoriasContainer {
    display: flex;
    justify-content: space-around;
}

.prodCatego p {
    text-decoration: none;
    text-align: center;
    color: #0B0A0A;
    margin-top: 50px;
}

.Metodos h2 {
    text-align: center;
}

.metodospng {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.metodospng img {
    width: 150px;
    height: 100px;
    margin-top: 50px;
}

.Contactanos {
    padding: 20px;
    margin-top: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 60%;
}

.contact-info {
    width: 35%;
}

.contact-info h3 {
    margin-top: 0;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 70%;
    padding: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #BE9D9D;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #C2CED6;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #0B0A0A;
    color: #fff;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.map-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.bodyColor {
    background-color: #FDD8DA;
}